.otp-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.otp-fields {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.otp-input {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.otp-button {
  width: 200px;
  text-align: center;
  border: 2px solid black;
}
